{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Figure{% endblock %}

{% block body %}
<div class="container">    
    <d class="">
        <div class="bg-primary text-white rounded">   
            <h1 class="text-center my-3"> Détails de la figure : {{figure.name}}</h1>
        </div>    
        <div class="card bg-light mb-3 rounded">        
            <img src="{{ asset('images/' ~ figure.mainImage)}}" alt="main-image">
            <div class="card-body text-center">
                
                <p class="card-text ">
                    {{figure.name}}: {{figure.description}}
                </p>
               <div class="row">
                    <div class="col-md-6 col-x-sm-12 col-xs-12">
                        <div class="row">
                        {% for picture in pictures %}
                                <div class="col-xs-12 col-sm-6 col-md-3 mt-3">
                                    <img src="{{ asset('images/' ~ picture.name)}}" class="img-carousel" alt="{{picture.caption}}">
                                    <div class="d-none d-md-block">
                                        <h5>{{picture.caption}}</h5>                                
                                    </div>
                                </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-3">
                            <div class="row">
                                {% for video in figure.videos %}
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 border border-grey">
                                        <iframe id="video{{ video.id }}" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <script>
                                        var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                                        var url = "{{ video.url }}";
                                        var match = url.match(regExp);
                                        if (match && match[2].length == 11) 
                                        {
                                            var id = match[2];
                                            var embedlink = "http://www.youtube.com/embed/" + id;
                                            var iframe = document.getElementById("video{{ video.id }}");
                                            iframe.src = embedlink;
                                        }
                                    </script>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('homepage') }}" class="btn btn-primary m-5">Retour accueil</a>
            </div>
        </div>
    </div>
    <div class="container ">        
        {{form_start(form)}}
        <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-6">
            {{form_row(form.content)}}
            </div>
            <div class="col-md-3">
            <button type="submit" class="btn btn-light">Laisser un commentaire</button>
            </div>
        </div>
        {{form_end(form)}}            
    </div>
    <div class="container">
    {% if (figure.messages | length) > 0 %}
    <h4 class="text-center">Commentaires sur la figure</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Posté le</th>
                <th>Contenu</th>
            </tr>        
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><img src="{{ asset('images/' ~ message.user.imageName)}}" class="avatar avatar-medium mr-2" alt="photo-auteur">
                    {{message.user.firstname}}  {{message.user.lastname}}</td>                 
                <td>{{message.createdAt | date('d-m-Y H:i:s')}}</td>
                <td>{{message.content}}</td>
            </tr>            
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><strong>Il n'y a pas encore de commentaires pour cette figure.</strong>
    {% endif %}
    </div>
</div>
{% endblock %}
