{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Figure{% endblock %}

{% block body %}
<div class="container">    
    <d class="">
        <div class="bg-primary text-white rounded">   
            <h1 class="text-center my-3"> Détails de la figure : {{figure.name}}</h1>
        </div>    
        <div class="card bg-light mb-3 rounded">        
            <img src="{{ asset('images/' ~ figure.mainImage)}}" alt="main-image">
            <div class="card-body text-center">
                
                <p class="card-text ">
                    {{figure.name}}: {{figure.description}}
                </p>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for picture in figure.pictures %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %}
                            class="active" {% endif %}></li>
                        {% endfor %}                        
                    </ol>
                    <div class="carousel-inner">
                        {% for picture in figure.pictures %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ asset('images/' ~ picture.name)}}" class="d-block w-100 card-img" alt="{{picture.caption}}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <a href="{{ path('homepage') }}" class="btn btn-primary m-5">Retour accueil</a>
            </div>
        </div>
    </div>
    <div class="container ">        
        {{form_start(form)}}
        <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-6">
            {{form_row(form.content)}}
            </div>
            <div class="col-md-3">
            <button type="submit" class="btn btn-light">Laisser un commentaire</button>
            </div>
        </div>
        {{form_end(form)}}            
    </div>
    <div class="container">
    {% if (figure.messages | length) > 0 %}
    <h4 class="text-center">Commentaires sur la figure</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Auteur</th>
               <!-- <th>photo auteur</th> -->
                <th>Posté le</th>
                <th>Contenu</th>
            </tr>        
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{message.user.firstname}}  {{message.user.lastname}}</td>
               <!--  
                <td>{#{message.user.photo}#}</td> -->
                <td>{{message.createdAt | date('d-m-Y H:i:s')}}</td>
                <td>{{message.content}}</td>
            </tr>            
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><strong>Il n'y a pas encore de commentaires pour cette figure.</strong>
    {% endif %}
    </div>
</div>
{% endblock %}
