{% extends 'base.html.twig' %}

{% block title %}Hello AdminCommentController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row py-3 pl-3">
        <div class="col-md-5 bg-primary text-white rounded">   
            <h1>Les commentaires de nos visiteurs !</h1>
        </div>
    </div>
    <div style="height:3px;"></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Figure</th>
                <th>Auteur</th>
                <th>Posté le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{comment.id}}</td>
                <td>{{comment.content}}</td>
                <td>{{comment.figure.name}}</td>
                <td><img src="{{ asset('images/' ~ comment.user.imageName) }}" class="avatar avatar-micro mr-2" alt="photo-auteur">{{comment.user.firstname}} {{comment.user.lastname}}</td>
                <td>{{comment.createdAt |date("d/m/Y")}}</td>
                <td>
                    <a href="{{ path('admin_comments_delete', {'id' : comment.id})}}" class="btn btn-danger rounded" onclick="return confirm('Voulez vous réellement supprimer le commentaire sur la  figure: {{comment.figure.name}} ?')"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item {% if page == 1 %} disabled {% endif %}">
            <a class="page-link" href="{{ path('admin_comments_index', {'page': page - 1}) }}">&laquo;</a>
            </li>
            {% for i in 1..pages %}
            <li class="page-item {% if page == i %} active {% endif %}">
            <a class="page-link" href="{{ path('admin_comments_index', {'page': i}) }}">{{ i }}</a>
            </li>                
            {% endfor %}
            <li class="page-item {% if page == pages %} disabled {% endif %}">
            <a class="page-link" href="{{ path('admin_comments_index', {'page': page + 1}) }}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
