{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Création d'une figure{% endblock %}

{% form_theme form _self %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-3 pb-3 bg-light rounded">
            <h1 class="m-3 pb-3 text-center">Créer une nouvelle figure</h1>
            {{form_start(form)}}
            {{form_widget(form)}}
            <button type="submit" class="btn btn-success rounded">Enregistrer</button>
            {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}

{% block _figure_pictures_widget %}
    <p>Ajouter les photos qui décrivent bien la figure ici</p>
    {{form_widget(form)}}
    <input type="hidden" id="widgets-counter" value="0">

    <button type="button" id="add-picture" class="btn btn-primary">Ajouter une photo</button>
{% endblock %}

{% block _figure_pictures_entry_row %}
    {{form_widget(form)}}
{% endblock %}

{% block _figure_pictures_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>            
            </div>
            <div class="col-2">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>      
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-picture').click(function(){
            //Calculer le numéro du futur champ à créer
            const index = +$('#widgets-counter').val();
            
            //Récupérer le prototype/le code html d'une entrée
            const tmpl = $('#figure_pictures').data('prototype').replace(/__name__/g, index);

            //Injecter ce doe html dans la div add_images
            $('#figure_pictures').append(tmpl);

            $('#widgets-counter').val(index + 1);
            //On gère le bouton supprimer
            handleDeleteButtons();            
        });

        function handleDeleteButtons()
        {
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
        }

        handleDeleteButtons();
    </script>
{% endblock %}